/**************************************************************************
***************************************************************************
***************************************************************************
***************************************************************************

Project: Morton Casa de Subastas
URL: http://www.mortonsubastas.com
Designer and Developer: Andy Osuna
URL: http://andyosuna.com
Description: Redesign of website for Morton Casa de Subastas.
Version: 1.0
May, 2013
                 _                                                        
  __ _ _ __   __| |_   _  ___  ___ _   _ _ __   __ _   ___ ___  _ __ ___  
 / _` | '_ \ / _` | | | |/ _ \/ __| | | | '_ \ / _` | / __/ _ \| '_ ` _ \ 
| (_| | | | | (_| | |_| | (_) \__ \ |_| | | | | (_| || (_| (_) | | | | | |
 \__,_|_| |_|\__,_|\__, |\___/|___/\__,_|_| |_|\__,_(_)___\___/|_| |_| |_|
                   |___/                                                  

***************************************************************************
***************************************************************************
***************************************************************************
**************************************************************************/


/********************************************************
****************** Table of Contents ********************

0. - Structure: Additions for features.
	0.1 - Sticky Footer
	0.2 - Typography Corrections

1. - General: Stuff that can be used throughout the site.
	1.1 - Typography

2. - Base: Stuff consistent around like footer/header.
	2.1 - Header
	2.2 - Header Scrolled
	2.3 - Header Responsiveness
	2.4 - Footer
	2.5 - Footer Social Media
	2.6 - Footer Responsiveness

3. - Homepage: Styles exclusive to the homepage.
	3.1 - Slider
	3.2 - Sections
	3.3 - Homepage Responsiveness

4. - Content: Styles shared by the content pages.
	4.1 - Banner
	4.2 - Banner Responsiveness
	4.3 - Sections

*********************************************************
********************************************************/


/*

0. - Structure

*/

/* 0.1 - Sticky Footer */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 180px;
}

/* 0.2 - Typography Corrections */
h1 {
	color: rgb(167, 169, 172);
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}
h1,
h2 {
	text-align: center;
}
hr {
	width: 80%;
	height: 2px;
	background-color: rgb(167, 169, 172);
	margin: 0 auto;
	padding: 0;
}


/*

1. - General

*/

/* 1.1 - Typography */
p.large {
	font-size: 18px; /* larger font size for more important paragraphs */
}
h2.align-left {
	text-align: left;
}


/*

2. - Base

*/

/* 2.1 - Header */
header {
	width: 100%;
	height: 150px;
	padding: 50px;
}
#logo a {
	text-indent: -9999px;
	display: block;
	width: 275px;
	height: 50px;
	background-image: url(../images/logo.png);
	cursor: pointer;
}
nav {
	font-size: 18px;
	margin-top: 10px;
}
nav > ul {
	margin: 0;
	padding: 0;
}
nav > ul > li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 10px;
}
nav ul.dropdown-menu > li > a,
nav ul.dropdown-menu > li > a:link,
nav ul.dropdown-menu > li > a:visited {
	color: rgb(140, 159, 29);
}
nav ul.dropdown-menu > li > a:hover,
nav ul.dropdown-menu > li > a:focus,
nav ul.dropdown-menu > li > a:active {
	color: rgb(193, 216, 47);
	text-decoration: underline;
}
header a,
header a:link,
header a:visited {
	color: rgb(204, 204, 204);
}
header a:hover,
header a:focus,
header a:active {
	color: rgb(256, 256, 256);
}
header a:active {
	text-decoration: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #fff;
}

nav > ul > li:last-child {
	padding-right: 0;
}
nav > ul > li.dropdown:hover ul.dropdown-menu {
	display: block;
}
#quick-links {
	position: absolute;
	top: 20px;
	right: 50px;
}
#quick-links a:first-child {
	margin-right: 20px;
}

/* 2.2 - Header Scrolled */
.scrolled {
	height: 60px;
	padding: 15px;
	background-color: rgb(0, 0, 0);
	position: fixed;
	top: 0;
	z-index:10;
}
.scrolled nav {
	margin: 0;
	font-size: 14px
}
.scrolled nav > ul > li {
	padding-top: 5px;
}
.scrolled #logo a {
	background-size: 100%;
	background-repeat: no-repeat;
	width: 165px;
	height: 30px;
}
.scrolled #quick-links {
	visibility: hidden;
}
.scrolled ~ #content {
	position: relative;
	top: 150px; /* BUG fix */
	margin-bottom: 150px; /* BUG fix */
}

/* 2.3 - Header Responsiveness */
@media (min-width: 955px) and (max-width: 998px) {
	header nav {
		font-size: 16px;
	}
}
@media (max-width: 954px) {
	header nav {
		font-size: 14px;
	}
}
@media (max-width: 877px) {
	header {
		padding: 20px;
		height: 90px;
	}
	#quick-links {
		visibility: hidden;
	}
	.scrolled ~ #content {
		top: 90px; /* BUG fix */
		margin-bottom: 90px; /* BUG fix */
	}
}
@media (max-width: 819px) {
	header nav {
		visibility: hidden;
	}
	/* TODO 27/05/14: add the menu for mobile */
}

/* 2.4 - Footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 180px;
	background-color: rgb(65, 64, 66);
	color: rgb(167, 169, 172);
}
#footer-links {
	list-style: none;
	padding: 20px 0 0 30px;
}
footer .row div:nth-child(2) {
	padding-top:30px;
} /* adds a top padding to the morton footer logo */
.scrolled ~ footer {
	bottom: -150px; /* BUG fix */
}

/* 2.5 - Footer Social Media */
#social-media {
	display: block;
	width: 168px;
	margin: 0 auto;
	padding: 45px 0 0 0;
}
#social-media li {
	display: inline;
}
#social-media li a {
	display: block;
	width: 36px;
	height: 36px;
	float: left;
	margin: 5px 10px;
	text-indent: -9999px;
	text-decoration: none;
	background-repeat: no-repeat; /* BUG fix */
}
#social-media li:nth-of-type(1) a,
#social-media li:nth-of-type(1) a:link,
#social-media li:nth-of-type(1) a:visited {
	background-image: url(../images/social/fb.png);
}
#social-media li:nth-of-type(1) a:hover,
#social-media li:nth-of-type(1) a:focus,
#social-media li:nth-of-type(1) a:active {
	background-image: url(../images/social/fb-hvr.png);
}
#social-media li:nth-of-type(2) a,
#social-media li:nth-of-type(2) a:link,
#social-media li:nth-of-type(2) a:visited {
	background-image: url(../images/social/tt.png);
}
#social-media li:nth-of-type(2) a:hover,
#social-media li:nth-of-type(2) a:focus,
#social-media li:nth-of-type(2) a:active {
	background-image: url(../images/social/tt-hvr.png);
}
#social-media li:nth-of-type(3) a,
#social-media li:nth-of-type(3) a:link,
#social-media li:nth-of-type(3) a:visited {
	background-image: url(../images/social/yt.png);
}
#social-media li:nth-of-type(3) a:hover,
#social-media li:nth-of-type(3) a:focus,
#social-media li:nth-of-type(3) a:active {
	background-image: url(../images/social/yt-hvr.png);
}
#social-media li:nth-of-type(4) a,
#social-media li:nth-of-type(4) a:link,
#social-media li:nth-of-type(4) a:visited {
	background-image: url(../images/social/pt.png);
}
#social-media li:nth-of-type(4) a:hover,
#social-media li:nth-of-type(4) a:focus,
#social-media li:nth-of-type(4) a:active {
	background-image: url(../images/social/pt-hvr.png);
}
#social-media li:nth-of-type(5) a,
#social-media li:nth-of-type(5) a:link,
#social-media li:nth-of-type(5) a:visited {
	background-image: url(../images/social/ig.png);
}
#social-media li:nth-of-type(5) a:hover,
#social-media li:nth-of-type(5) a:focus,
#social-media li:nth-of-type(5) a:active {
	background-image: url(../images/social/ig-hvr.png);
}
#social-media li:nth-of-type(4) a {
	margin-left: 38px;
}/* targets the 4th social media icon, makes bottom line appear centered. */


/* 2.6 - Footer Responsiveness */
@media (max-width: 877px) {
	.scrolled ~ footer {
		bottom: -60px; /* BUG fix */
	}
}
@media (max-width: 768px) { 
	footer {
		text-align: center;
	}
	#footer-links li {
		display: inline;
	}
	#footer-links li a {
		margin-right: 10px;
	}
	#social-media {
		width: 280px;
		padding: 0px;
	}
	#social-media li a {
		margin: 30px 10px 0 10px !important;
	}
}


/*

3. - Homepage

*/

/* 3.1 - Slider */
#slider {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
#slider img {
	position: absolute;
	min-width: 100%;
	top: 10%;
	left: 10%;
}
#slider img:empty{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
#slider ~ #content {
	margin-top: 79vh;
	background-color: rgb(255, 255, 255);

}

/* 3.2 - Sections */
#video,
#catalogs {
	padding: 50px;
}
#video h2,
#catalogs h2 {
	margin: 0 0 40px 0;
}
#catalogs .cat img {
	display: block;
	width: 281px;
	height: 364px;
	margin: 0 auto;
}
#catalogs .cat a {
	display: block;
	width: 281px;
	margin: 5px auto 20px;
	text-align: center;
}

/* 3.3 - Homepage Responsiveness */
@media screen and (orientation: portrait) {
	#slider img {
		min-width: 90%;
	}
}
@media screen and (orientation: landscape) {
	#slider img {
		min-height: 90%;
	}
}
@media (max-width: 877px) {
	#slider ~ #content {
		margin-top: 88vh;
	}
}


/*

4. - Content

*/

/* 4.1 - Banner */
#banner {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 300px;
}
#banner img {
	position: absolute;
	min-width: 100%;
	top: 10%;
	left: 10%;
}
#banner img:empty{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
#banner ~ #content {
	margin-top: 150px;
	background-color: rgb(255, 255, 255);
}

/* 4.2 - Banner Responsiveness */
@media screen and (orientation: portrait) {
	#slider img {
		min-width: 90%;
	}
}
@media screen and (orientation: landscape) {
	#slider img {
		min-height: 90%;
	}
}

/* 4.3 - Sections */
.cont {
	padding: 50px;
}
.cont h2 {
	margin: 0 0 40px 0;
}
.cont > img {
	margin: 0 0 50px 50px;
}

/* 4.4 - Staff */
.staff {
	display: block;
	width: 50%;
	float: left;
	padding: 25px;

}
.staff:nth-child(odd) {
	padding-right: 0;
}
.staff:nth-child(even) {
	padding-left: 0;
}
.staff-box {
	border: 1px solid rgb(167, 169, 172);
	width: 100%;
	min-height: 240px;
	padding: 20px;
}
.staff-box img {
	float: left;
	margin-right: 20px;
}
.staff-box h4 {
	color: rgb(167, 169, 172);
	font-weight: 400;
	font-size: 18px;
}

/* 4.5 - Staff Responsiveness */
@media (min-width: 955px) and (max-width: 998px) {
	
}
@media (min-width: 820px) {

}
@media (max-width: 819px) {
	.staff {
		width: 100%;
		padding: 25px 0;
	}
}
